.debug{
  min-height: 80px;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}

header .navbar-collapse {
  flex-grow: 0;
}

nav{
  background-color: #2C3E50;
}

.navbar-toggler-icon{
  filter: invert(59%) sepia(35%) saturate(0%) hue-rotate(222deg) brightness(84%) contrast(90%); 
}

section, #pg-jumbotron{
  min-height: 400px;
}

#pg-jumbotron{
  margin-top: 80px;
  background-color: #1ABC9C;
}

#pg-jumbotron img{
  width: 300px;
}

.pg-divider i{
  margin: 0 40px;
}

.pg-divider::before, .pg-divider::after{
  content: "";
  width: 15%;
  height: 5px;
  background-color: white;
  border-radius: 3px;
}

footer{
  min-height: 100px;
}